.popover__title {
  font-size: 24px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
}

.popover__wrapper {
  display: inline-block;
  position: relative;
}

.popover__content {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  font-size: 12px;
  font-weight: normal;
  left: -32px;
  margin-top: 30px;
  opacity: 0;
  padding: 2px;
  padding-top: 4px;
  position: absolute;
  transform: translate(0, 10px);
  visibility: hidden;
  width: 200px;
}

.popover__content p {
  margin: 0px;
}

.popover__content:before {
  border-color: transparent transparent white transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  content: \"\";
  position: absolute;
  right: calc(80% - 10px);
  top: -8px;
  transition-duration: 0.3s;
  transition-property: transform;
  z-index: -1;
}

.popover__wrapper:hover .popover__content {
  opacity: 1;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  visibility: visible;
  z-index: 10;
}

.popover__message {
  text-align: center;
}

.image a img {
  width: 100%;
}
