body {
  height: 100vh;
  min-height: 100vh;
}

#mynetwork {
  height: 100%;
  width: 100%;
}

details[data-popover] > summary:focus {
  outline: none;
}

details[data-popover] > summary::-webkit-details-marker {
  display: none;
}

details[data-popover] > summary {
  list-style: none;
}

details[data-popover] > summary {
  list-style: none;
  text-decoration: underline dotted teal;
}

details[data-popover] {
  position: relative;
}

details[data-popover] > summary + * {
  position: absolute;
}

details[data-popover='up'] > summary + * {
  right: 50%;
  top: calc(0.5rem + 100%);
  transform: translateX(50%);
}
